html, body {
    margin: 0;
}

body {
    background-color: #e9f3fc;
}
nav {
    width: 100%;
    background-color: white;
    margin: 0px;
}
nav > a {
    display: flex;
    justify-content: left;
    margin-left: 10em;
    margin-right: 10em;
    padding: 10px;
    height: 4em;
}

.careers-list-1, .careers-list-2 {
    display: flex;
    flex-wrap: wrap;
}

.careers-list p {
    width: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
}